.page-header
  %h1
    ログイン

.row
  .col-sm-8.col-sm-offset-2
    = simple_form_for :session, url: login_path do |f|
      = f.input :email
      = f.input :password
      = f.button :submit, 'ログイン', class: 'btn btn-success btn-block'
