%ul.nav.nav-tabs
  %li(role="presentation" class='#{"active" if root_path == request.fullpath}')
    = link_to 'フィード', root_path
  %li(role="presentation" class='#{"active" if items_path == request.fullpath}')
    = link_to 'すべての投稿', items_path
