.row
  .col-sm-3
    = @user.name
    %br
    = @user.email
    %br
    = link_to 'プロフィールを編集する', edit_user_path(@user)
    %br
    フォロー中のタグ
    %br
    フォロー中のユーザー
    %br
    フォローされているユーザー
  .col-sm-9
    最近の投稿
    |
    ストックした投稿
    |
    コメント
