.row
  .col-sm-3
    = @user.name
    %br
    = @user.email
    %br
    - if current_user == @user
      = link_to 'プロフィールを編集する', edit_user_path(@user)
    - else
      = user_follow_link_to @user, @follow_user
    %br
    フォロー中のタグ
    %br
    フォロー中のユーザー
    %br
    フォローされているユーザー
  .col-sm-9
    最近の投稿
    |
    ストックした投稿
    |
    コメント
