// user/show
.user-show-sidebar {
  .user-show-image {
    margin-bottom: 20px;

    .gravatar {
      width: 100%;
    }
  }

  .user-show-name {
    font-size: 24px;
    font-weight: bold;
  }

  .user-show-button {
     margin-top: 20px;
  }
}
